<footer>
  <h3 class="headline">Brought to you by</h3>
  <a class="wirsing" href="http://wirsing.io">wirsing.io</a>

  <h3 class="headline">in collaboration with …</h3>
  <ul class="collaborators">
    <li class="adamah">
      <a href="http://www.adamah.at/" target="_blank">
        <img src="/images/logos/adamah_logo.png" />
      </a>
    </li>
    <li class="magdas">
      <a href="http://www.magdas-hotel.at/" target="_blank">
        <img src="/images/logos/magdas_hotel_logo.png" />
      </a>
    </li>
    <li class="wiener-tafel">
      <a href="http://www.wienertafel.at/" target="_blank">
        <img src="/images/logos/wienertafel_logo.png" />
      </a>
    </li>
    <li class="zero-waste-jam">
      <a href="http://zerowastejam.com/en/" target="_blank">
        <img src="/images/logos/zero_waste_jam_logo.png" />
      </a>
    </li>
    <li class="porcella">
      <a href="http://www.porcella.at/" target="_blank">
        <img src="/images/logos/porcella_logo.png" />
      </a>
    </li>
  </ul>

  <h3 class="headline">sponsored by</h3>
  <ul class="sponsors">
    <li class="codeship">
      <a href="https://codeship.com/?utm_source=offline&utm_medium=event&utm_campaign=foodhack" target="_blank">
        <img src="/images/logos/codeship_logo.png" />
      </a>
    </li>
  </ul>
</footer>
