<footer>
  <h3 class="headline">Brought to you by</h3>
  <a class="wirsing" href="http://wirsing.io">wirsing.io</a>

  <h3 class="headline">in collaboration with …</h3>
  <ul class="collaborators">
    <li class="adamah"><img src="/images/logos/adamah_logo.png" /></li>
    <li class="magdas"><img src="/images/logos/magdas_hotel_logo.png" /></li>
    <li class="wiener-tafel"><img src="/images/logos/wienertafel_logo.png" /></li>
    <li class="zero-waste-jam"><img src="/images/logos/zero_waste_jam_logo.png" /></li>
    <li class="porcella"><img src="/images/logos/porcella_logo.png" /></li>
  </ul>

  <h3 class="headline">sponsored by</h3>
  <ul class="sponsors">
    <li class="codeship"><img src="/images/logos/codeship_logo.png" /></li>
  </ul>
</footer>
