<section class="prizes">
  <h2 class="headline">Prizes</h2>
  <p class="main-description">
    There will be a jury to decide which project is the best.
  </p>
  <p class="main-description">
    The three judging criteria will be:
  </p>
  <dl>
    <dt>The Impact</dt><dd>how much change the project can make.</dd>
    <dt>The Pitch</dt><dd>do you tell a compelling story?</dd>
    <dt>The Demo</dt><dd>we want to experience your vision</dd>
  </dl>

  <p class="main-description">
    The prizes are directed at helping you become a real business after the hackathon is over.
  </p>

  <dl>
    <dt>2 days of coaching with Wirsing</dt>
    <dd>We will use our years of combined software development experience to help push you in a viable direction with your new project</dd>
    <dt>1 hour sustainable strategy planing</dt>
    <dd>Work with The Good Tribe (using the sustainable Methodkit) to develop you sustainable strategy.</dd>
    <dt>A night at Magdas</dt>
    <dd>Magdas is a hotel from Caritas where most of the staff is made up of refugees.</dd>
    <dt>Sektor 5 Coworking flex desk</dt>
    <dd>You will desks for you team members where you can continue work on your project.</dd>
    <dt>Stockwerk Coworking flex desk</dt>
    <dd>If you would like a change of environment, you will have desks at this great coworking space too.</dd>
    <dt>6 Months Blossom.io Membership</dt>
    <dd>blossom.io is a project management tool for software development. And they are from Vienna!</dd>
    <dt>Partycipation Music Festival Tickets</dt>
    <dd>You will get tickets and a slot to present your project on stage to help get more traction.</dd>
  </dl>
</section>
