---
title: Foodhack Vienna | Coming Spring 2015
---

<section class="banner">
  <div class="wrapper">
    <div class="banner-words">
      <h1 class="banner-headline headline">Foodhack Vienna</h1>
      <h2 class="banner-subheadline headline">March 28 and 29th, 2015</h2>
      <h2 class="banner-subsubheadline headline">You Can Help Austria Eliminate Food Waste</h2>
    </div>
  </div>
</section>

<section class="description">
  <div class="wrapper">
    <div class="explanation">
      <h2 class="headline">What is Foodhack?</h2>
      <p>Foodhack is a 2 day contest where developers, designers and UX experts come together and build software to help fix Austria's food waste problem.</p>
    </div>
    <div class="explanation">
      <h2 class="headline">What is a Hackathon?</h2>
      <p>
        Teams can be of two to four members. You will go from morning until evening (with breaks), sharing ideas and working together to build something awesome.
        <br />
        A team of judges will pick a winner and you can bathe in the glory of your environment saving work.
      </p>
    </div>

    <div class="explanation">
      <h2 class="headline">Project Info</h2>
      <p>You don't have to know a lot about our current food waste problems. Over the next months we will be researching project ideas and we will provide information, data and sources.</p>
      <p>So make sure you sign up for updates!</p>
    </div>

    <div class="explanation">
      <h2 class="headline">Is There Anything Else?</h2>
      <p>We provide fresh, organic meals and snacks while you work on your projects.</p>
    </div>
  </div>
  <hr />
</section>

<section class="cta">
  <h2 class="headline">We’ll let you know when we’re ready</h2>
  <h3 class="sidenote">you’ll get a message when we have more details</h3>
  <!-- Begin MailChimp Signup Form -->
  <form action="//wirsing.us9.list-manage.com/subscribe/post?u=7d6811387a9637d0a71605d23&amp;id=21eed49b7a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="input-group">
        <input type="email" placeholder="email address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        <input type="text" value="true" name="NEWSWIRSIN" class="hidden" id="mce-NEWSWIRSIN">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
      <div class="wirsing">
        <label for="wirsing-newsletter">
          <h5 class="wirsing-newsletter-headline">
            <input id="wirsing-newsletter" type="checkbox" checked />
            &nbsp; Keep me updated about other wirsing.io news and events
          </h5>
        </label>
      </div>
      <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  </form>

  <hr />
</section>

<section class="about-you">
  <h2 class="headline">About You</h2>
  <h3>We are looking for people with one or more of these skills</h3>
  <ul>
    <li>Food Waste Experts</li>
    <li>Developers</li>
    <li>Designers</li>
    <li>UX Designers</li>
    <li>Entrepreneurs</li>
  </ul>
  <hr />
</section>

<section class="benefits">
  <div class="benefit">
    <h2 class="headline">Improve Your Community</h2>
    <p class="benefit-text">
      If you have been looking for a way to use skills you already have to make Austria better, we would like to talk.
    </p>
  </div>
  <div class="benefit">
    <h2 class="headline">Have a Great Time Doing It</h2>
    <p class="benefit-text">
      We aim to make this as fun as possible. If you've ever been to a hackathon or a startup weekend event, you will know that they can be stressful. We will do whatever we can to help you be comfortable and we will provide food and refreshments to keep you energized.
    </p>
  </div>
  <div class="benefit">
    <h2 class="headline">Meet Other Civics Hackers</h2>
    <p class="benefit-text">
      This is a great opportunity to meet fellow hackers. It is also a great chance to meet people with complementary skills if you are looking for a partner for a project or product.
    </p>
  </div>
  <hr />
</section>


<footer>
  <h3 class="headline">Brought to you by</h3>
  <a class="wirsing" href="http://wirsing.io">wirsing.io</a>
</footer>
